# # # # # # # #
#   K i k o   #
# # # # # # # #

# Basic
name:               "Yatiris"
title:              "Yatiris"
description:        "We are Yatiris, a research group located in Tandil, Argentina, working in computer-assisted medicine. We are part of Pladema Institute and UNICEN."


# URL
url:                https://yatiris.github.io/
baseurl:            ""
#baseurl:            "" #For Root Domain
permalink:          /:year/:month/:day/:title.html

# Markdown
markdown:           kramdown

# Highlighter
highlighter:        rouge

# Navigation
nav:
  - name:           "home"
    href:           "/"
  - name:           "about"
    href:           "/about"
  - name:           "people"
    href:           "/people"
  - name:           "our projects"
    href:           "/our-projects"
  - name:           "thesis"
    href:           "/thesis"
  - name:           "publications"
    href:           "/publications"
  - name:           "news"
    href:           "/news"
  - name:           "work with us"
    href:           "/work-with-us"

# Sass
sass:
  style:            :compressed

# Scopes
defaults:
  -
    scope:
      path:         ""
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      path:         ""
      type:         "posts"
    values:
      layout:       "post"
  -
    scope:
      path:         ""
      type:         "people"
    values:
      layout:       "profile"
  -
    scope:
      path:         ""
      type:         "thesis"
    values:
      layout:       "post"


collections:
  tfi:
    output: true
    permalink: /:collection/:name.html
  phd:
    output: true
    permalink: /:collection/:name.html
  thesis:
    output: true
    permalink: /:collection/:year/:month/:day/:title.html
  people:
    output: true
    permalink: /people/:title/index.html
    

